[Desktop Entry]
Version=0.7.2
Name=Atomic Inbox
GenericName=Atomic Inbox
Comment=End-to-end encrypted email app.
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;mail;calendar